*{
	padding: 0px;
	margin: 0px;
}

.body{
	position: absolute;
	background: #222;
	font-family: Arial, sans-serif;
}
.bloco{
	position: relative;
	margin-left: 5px;
	width: 683px;
	float: left;
	line-height: 25px;
}
.bloco2{
	position: relative;
	margin-top: 236px;
	margin-left: -667px;
	border: solid 1px #ddd;
	width: 683px;
	float: left;
	padding: 0px 12px;
	line-height: 25px;
}
.bloco-all{
	position: absolute;
}
.blo{
    position: absolute;
    float: left;
    margin-left: 694px;
    width: 345px;
}
.bloco3{
	border: 1px solid #ddd;
	line-height: 10px;
	width: 287px;
}
.bloco4{
	margin-top: 22px;
	line-height: 25px;
}
.bloco5{
    border: 1px solid #ddd;
    margin-top: 0px;
    line-height: 12px;
    width: 308px;
    line-height: 25px;
}
.bloco6{
	position: relative;
}
.texto{
	width: 100px;
	text-align: right;
}
#texto_cadastro{
	text-align: left;
	font-weight: bold;
	font-family: arial;
	font-size: 18px;
	margin-top: 5px;
}
.texto_left{
	float: left;
}
.texto_right{
	margin-left: 182px !important;
}
.caixa{
	border: solid 1px #ddd;
	height: 22px;
}
.form_cadastro{
	width: 655px;
	position: relative;
}
.botoes{
	position: absolute;
	margin-left: 75% !important;
	display: inline-table;
	width: 100px;
	height: auto;
	text-align: center;
	float: left;
	margin-top: 236px;
}
.botao-right{
	background: none;
    border: 1px solid #0b0a0a !important;
    font-size: 11px !important;
    font-weight: 600 !important;
    height: 39px !important;
    margin-top: 6px !important;
    border-radius: 22px !important;
    width: 133px !important;
    padding: 5px 20px !important;
    text-align: left !important;
	padding: 6px 20px !important;
	font-size: 15px !important;
}
.titulo_legende{
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
}
.bloco_Cadastro{
	height: 235px;
}
img{
		text-align: left;
}
#botao_permicao{
}
#texto_cpf{
	margin-left: -2px !important;
}
#caixa-cpf{
}
#texto_EstadoCivil{
    margin-left: 22px !important;
}
#caixa_EstadoCivil{
	width: 157px;
	padding: 0;
	text-align: left;
	margin-top: 0;
}
#texto_telefone1{
    margin-left: 40px;
}
#caixa_telefone1{
}
#texto_telefone2{
    margin-left: 41px;
}
#caixa_telefone2{
}
#caixa-cpf{
	width: 155px;
	margin-left: 2px;
}
#caixa_nome{
	width: 550px;
}
#caixa_nascimento{
	width: 116px;
	padding: 0;
}
#caixa_EstadoCivil{
}
#caixa_funcao{
	width: 549px;
}
#caixa_NomePai{
	width: 338px;
}
#caixa_NomeMae{
	width: 338px;
}
#texto_titulo{
	font-weight: bold;
	text-align: left;
	margin-top: 6px;
}
#caixa_RuaAvenida{
	width: 552px;
}
#caixa_numero3{
	width: 48px;
}
#texto_bairro{
	width: 45px;
	margin-left: 30px;
}
#caixa_bairro{
	width: 266px;
}
#caixa_complemento{
	width: 552px;
}
#texto_cep{
    width: 32px;
    margin-left: 28px;
}
#caixa_municipio{
	width: 179px;
}
#texto_CodMunicipio{
    width: 85px;
	margin-left: 112px;
}
#caixa_CodMunicipio{
	width: 61px;
	margin-left: 23px;
}
#caixa_uf{
	width: 41px;
}
#caixa_pais{
	width: 210px;
}
#texto_CodPais{
	width: 70px;
}
#caixa_CodPais{
	width: 62px;
}
#titulo_bloco3{
	font-weight: bold;
	font-family: Arial;
	font-size: 22px;
}
.funcao{
	margin-left: 332px;
}
#titulo_usuario{
	font-weight: bold;
    text-align: left;
	margin-top: 7px;
}
.box{
    margin-left: 30px;
}
#texto_usuario{
    margin-left: 30px;
}
#texto_senha{
    margin-left: 30px;
}
#texto_ConfirmaSenha{
    width: 122px;
    margin-left: 9px;
}
.foco_bloco{
    border: 1px solid #222;
    height: 22px;
    width: 22px;
}
fieldset{
        border: 1px solid #ddd !important;
		margin: 0;
		xmin-width: 0;
		padding: 10px;
		position: relative;
		border-radius:0px !important;
		background-color:#f5f5f5;
        height: 157px;
}
.botao_bt{
	width: 118px;
	height: 36px;
	text-align: center;
	margin-top: 3px;
	border: 1px solid #ddd !important;
	margin-left: 40px;
	padding: 0px 15px !important;
}
bloco_foto{
	margin-top: 135px;
	width: 223px;
}
#texto_banco{margin-left: -39px;}
#texto_conta{margin-left: -38px;}
#texto_dg{width: 33px;}
#texto_op{width: 45px;}
$custom-file-text: (
en: "Browse",
es: "Elegir"
);
*{
	padding: 0px;
	margin: 0px;
}

.body{
	position: absolute;
	background: #222;
	font-family: Arial, sans-serif;
}
.bloco{
	position: relative;
	margin-left: 5px;
	width: 683px;
	float: left;
	line-height: 25px;
}
.bloco2{
	position: relative;
	margin-top: 236px;
	margin-left: -667px;
	border: solid 1px #ddd;
	width: 683px;
	float: left;
	padding: 0px 12px;
	line-height: 25px;
}
.bloco-all{
	position: absolute;
}
.blo{
    position: absolute;
    float: left;
    margin-left: 674px;
    width: 345px;
	margin-top: -0px;
}
.bloco3{
	border: 1px solid #ddd;
	line-height: 10px;
	width: 287px;
}
.bloco4{
	margin-top: 22px;
	line-height: 25px;
}
.bloco5{
    margin-top: 0px;
    line-height: 12px;
    width: 308px;
    line-height: 25px;
}
.bloco6{
	position: relative;
}
.texto{
	width: 100px;
	text-align: right;
}
#texto_cadastro{
	text-align: left;
	font-weight: bold;
	font-family: arial;
	font-size: 18px;
	margin-top: 5px;
}
.texto_left{
	float: left;
}
.texto_right{
	margin-left: 182px !important;
}
.caixa{
	border: solid 1px #ddd;
	height: 22px;
}
.form_cadastro{
	width: 668px;
	position: relative;
}
.botoes{
	position: absolute;
	margin-left: 1000px !important;
	display: inline-table;
	width: 100px;
	height: auto;
	text-align: center;
	float: left;
	margin-top: 256px;
}
.botao-right{
	background: none;
    border: 1px solid #0b0a0a !important;
    font-size: 11px !important;
    font-weight: 600 !important;
    height: 39px !important;
    margin-top: 6px !important;
    border-radius: 22px !important;
    width: 133px !important;
    padding: 5px 20px !important;
    text-align: left !important;
	padding: 6px 20px !important;
	font-size: 15px !important;
}
.blo2{
	width: 668px;
	margin-left: -654px;
	margin-top: 222px;
	height: 178px;
}
.bloo3{
	position: absolute;
	margin-left: -672px;
	width: 667px;
	margin-top: 422px;
	height: auto;
}
.form_Usuario{
}
img{
		text-align: left;
}
#botao_permicao{
}
#texto_cpf{
	margin-left: -2px !important;
}
#caixa-cpf{
}
#texto_EstadoCivil{
    margin-left: 22px !important;
}
#caixa_EstadoCivil{
	width: 157px;
	padding: 0;
	text-align: left;
	margin-top: 0;
}
#texto_telefone1{
    margin-left: 40px;
}
#caixa_telefone1{
}
#texto_telefone2{
    margin-left: 41px;
}
#caixa_telefone2{
}
#caixa-cpf{
	width: 155px;
	margin-left: 2px;
}
#caixa_nome{
	width: 550px;
}
#caixa_nascimento{
	width: 116px;
	padding: 0;
}
#caixa_EstadoCivil{
}
#caixa_funcao{
	width: 549px;
}
#caixa_NomePai{
	width: 338px;
}
#caixa_NomeMae{
	width: 338px;
}
#texto_titulo{
	font-weight: bold;
	text-align: left;
	margin-top: 6px;
}
#caixa_RuaAvenida{
	width: 552px;
}
#caixa_numero3{
	width: 48px;
}
#texto_bairro{
	width: 45px;
	margin-left: 30px;
}
#caixa_complemento{
	width: 552px;
}
#texto_cep{
    width: 32px;
    margin-left: 28px;
}
#caixa_municipio{
	width: 179px;
}
#texto_CodMunicipio{
    width: 85px;
	margin-left: 112px;
}
#caixa_CodMunicipio{
	width: 61px;
	margin-left: 23px;
}
#caixa_uf{
	width: 41px;
}
#caixa_pais{
	width: 210px;
}
#texto_CodPais{
	width: 70px;
}
#caixa_CodPais{
	width: 62px;
}
#titulo_bloco3{
	font-weight: bold;
	font-family: Arial;
	font-size: 22px;
}
.funcao{
	margin-left: 332px;
}
#titulo_usuario{
	font-weight: bold;
    text-align: left;
	margin-top: 7px;
}
.box{
    margin-left: 80px;
}
#texto_usuario{
    margin-left: 30px;
}
#texto_senha{
    margin-left: 30px;
}
#texto_ConfirmaSenha{
    width: 122px;
    margin-left: 9px;
}
.foco_bloco{
    border: 1px solid #222;
    height: 22px;
    width: 22px;
}
fieldset{
        border: 1px solid #ddd !important;
		margin: 0;
		xmin-width: 0;
		padding: 10px;
		position: relative;
		border-radius:0px !important;
		background-color:#f5f5f5;
        height: 157px;
}
.botao_bt{
	width: 118px;
	height: 36px;
	text-align: center;
	margin-top: 3px;
	border: 1px solid #ddd !important;
	margin-left: 40px;
	padding: 0px 15px !important;
}
bloco_foto{
	margin-top: 135px;
	width: 223px;
}
#texto_banco{margin-left: -39px;}
#texto_conta{margin-left: -38px;}
#texto_dg{width: 33px;}
#texto_op{width: 45px;}
form_InforAdicionais{
	position: absolute;
	min-width: 100px;
}

#texto_adimissa{
	margin-left: 40px;
}
#caixa_adimissao{
	width: 120px;
	font-size: 12px
}
#texto_n-ctps{
	margin-left: 22px;
}
#texto-titulo{
	margin-left: 22px;
}
#caixa_titulo{
	width: 130px;
}
#caixa_n-ctps{
	width: 130px;
}
#texto_n-ctps{
	width: 60px;
	margin-left: 40px;
}
#texto-titulo{
	width: 120px;
}
#texto_demissao{
	margin-left: 16px;
}
#caixa_demissao{
	width: 120px;
	font-family: arial;
	font-size: 12px;
}
#caixa_ctps-serie{
	width: 130px;
}
#texto_zona{
	margin-left: 90px;
	width: 52px;
}
#caixa_zona{
	width: 35px
}
#texto_secao{
	width: 48px;
}
#caixa_secao{
	width: 38px;
}
#rg_texto{
	margin-left: 15px;
}
#rg_caixa{
	width: 122px;
}
#texto_pis{
	width: 98px
}
#caixa_pis{
	width: 132px;
}
#texto_salario{
	margin-left: 40px;
}
#caixa_salario{
	width: 132px
}
#texto_emissor{
	width: 115px;
}
#caixa_emissor{
	width: 120px;
}
#caixa_cnh{
	width: 132px;
}
#texto_limite-credito{
	width: 125px;
	margin-left: 15px;
}
#caixa_limite-credito{
	width: 132px;
}
#texto_nacionalidade{
	margin-left: 12px
}
#caixa_nacionalidade{
	width: 122px;
}
#texto_validade{
}
#caixa_validade{
	width: 132px;
	font-family: arial;
	font-size: 12px;
	
}
#texto_credito-disponivel{
	width: 140px
}
#caixa_credito-disponivel{
	width: 133px
}
$custom-file-text: (
en: "Browse",
es: "Elegir"
);
